body {
  background-color: #272727;
}

.header__nav {
  float: right;
  margin-right: 1em;
}

.header__nav-button {
  margin: 1em 0 !important;
}

.header__text {
  color: #eee;
  text-align: center;
  clear: both;
  padding: 1.5em;
}

.header__h1 {
  font-family: Raleway, Roboto, sans-serif;
}

header__text .material-icons {
  padding-right: 10px;
}

.search__form {
  margin: auto;
  display: block;
  width: 80%;
  clear: both;
}

.search__input {
  width: 80% !important;
}

.search__button {
  min-height: 15% !important;
  min-width: 15% !important;
  margin-left: 5%;
}

.search__progress {
  margin: 15% auto;
  display: block !important;
}

@media (min-width: 740px) {
  .header__text {
    font-size: 1.3em;
  }

  .header__nav-button {
    margin: 1em 0.5em !important;
  }

  .search__form {
    width: 70%;
  }
  
  .search__input {
    width: 90% !important;
  }
  
  .search__button {
    min-height: 8% !important;
    min-width: 8% !important;
    margin-left: 2%;
  }

  .search__progress {
    margin: 6% auto;
    display: block !important;
  }
}

.bar__paper {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  display: flex;
}

.bar__img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.bar__info {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.bar__name {
  text-decoration: none;
  font-size: 1.5em;
}