html {
  height: 100%;
}

body {
  background-color: #272727;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: Roboto, sans-serif;
  padding-bottom: 7em;
  box-sizing: border-box;
}

.header__nav {
  float: right;
  margin-right: 1em;
}

.header__nav-button {
  margin: 1em 0 !important;
}

.header__text {
  color: #eee;
  text-align: center;
  clear: both;
  padding: 1.5em;
}

.header__h1 {
  font-family: Raleway, Roboto, sans-serif;
}

.header__text .material-icons {
  padding-right: 10px;
}

.search__form {
  margin: auto;
  display: block;
  width: 80%;
  clear: both;
}

.search__input {
  width: 80% !important;
}

.search__button {
  min-height: 15% !important;
  min-width: 15% !important;
  margin-left: 5%;
}

.search__progress {
  margin: 15% auto;
  display: block !important;
}

.barlist {
  width: 80%;
  margin: 2em auto;
}

.bar__paper {
  margin: 1em auto;
  padding: 1em;
  display: flex;
  align-items: center;
}

.bar__img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.bar__info {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
}

.bar__name {
  text-decoration: none;
  font-size: 1.3em;
  color: #3949AB; /* mui indigo600 */
}
.bar__name:visited {
  color: #5C6BC0; /* mui indigo400 */
}
.bar__name:hover, .ls__link-create:active {
  color: #1A237E; /* mui indigo900 */
}

.bar__rsvp-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bar__rsvp-button {
  margin: 0.5em 0;
}

.pagination {
  text-align: center;
  margin: 0 auto 3em;
  padding: 0 0.5em;
}

.pagination__button {
  color: #CDCDCD !important;
  min-width: 1em !important; 
}

.pagination__button_active {
  color: #26A69A !important; /* mui teal400 */
}

footer {
  padding: 1.5em 2.5em;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer p {
  margin: 0 0 0.8em 0;
}

footer a {
  color: #B0B0B0;
  text-decoration: none;
}
footer a:hover {
  color: #CDCDCD;
}

footer .fa-github {
  padding-right: 10px;
}


@media (min-width: 740px) {
  body {
    padding-bottom: 3em;
  }

  .header__text {
    font-size: 1.3em;
  }

  .header__nav-button {
    margin: 1em 0.5em !important;
  }

  .search__form {
    width: 70%;
  }
  
  .search__input {
    width: 90% !important;
  }
  
  .search__button {
    min-height: 8% !important;
    min-width: 8% !important;
    margin-left: 2%;
  }

  .search__progress {
    margin: 6% auto;
    display: block !important;
  }

  .barlist {
    width: 70%;
    margin: 3em auto;
  }

  .bar__img {
    width: 100px;
    height: 100px;
  }

  .bar__info {
    padding: 0 2em;
    align-self: stretch;
  }
  
  .bar__name {
    font-size: 1.55em;
  }

  .bar__rsvp-row {
    flex-direction: row;
    width: auto;
  }
  
   .bar__rsvp-button {
    margin: 0.2em 2.5em 0 0;
  }

  .bar__rsvp-checkbox {
    margin: 0.5em 0 0 0;
  }

  footer {
    padding: 1.5em 4em;
    flex-direction: row;
    justify-content: space-between;
  }
  
  footer p {
    margin: 0;
  }
}
